In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
dataset_stats = pd.read_csv('dataset/dataset_stats.csv')
# human: first 15, mouse: 15 +
human = dataset_stats.iloc[:15]
mouse = dataset_stats.iloc[15:]
# human = dataset_stats.iloc[:8]
# mouse = dataset_stats.iloc[8:]

In [3]:
human

,dataset_name,num_cells,num_genes,num_clusters,organ,sparsity
0,Human Pancreas 1,1937,20125,14,Pancreas,90.44
1,Human Pancreas 2,1724,20125,14,Pancreas,90.59
2,Human Pancreas 3,3605,20125,14,Pancreas,91.30
3,Human Pancreas 4,1303,20125,14,Pancreas,89.05
4,Mauro Pancreas,2122,19046,9,Pancreas,73.02
5,68K PBMC,4271,16653,8,Blood,92.24
6,CITE CMBC,8617,2000,15,Blood,93.26
7,Human kidney,5685,25125,11,Kidney,92.92
8,Sonya Liver,8444,4999,11,Liver,90.77
9,Sapiens Ear Crista Ampullaris,2357,61759,7,Ear,93.59
10,Sapiens Ear Utricle,611,61759,5,Ear,93.75
11,Sapiens Liver,2152,61759,15,Liver,95.42
12,Sapiens Lung,6530,61759,25,Lung,93.88
13,Sapiens Testis,7494,61759,8,Testis,93.91
14,Sapiens Trachea,22592,61759,20,Trachea,94.73

In [4]:
mouse

,dataset_name,num_cells,num_genes,num_clusters,organ,sparsity
15,Macosko mouse retina,14653,11422,39,Retina,88.34
16,Mouse cerebral cortex,3005,19972,9,Cerebral Cortex,81.21
17,Mouse embryonic stem,2717,24175,4,Embryonic Stem,65.76
18,Mouse Pancreas 1,822,14878,13,Pancreas,90.48
19,Mouse Pancreas 2,1064,14878,13,Pancreas,89.80
20,Shekhar mouse retina,27499,13166,19,Retina,93.33
21,Mouse hypothalamus,2881,24341,7,Hypothalamus,87.77
22,Mouse Kidney,3660,23797,8,Kidney,92.32
23,Mouse bladder,2746,20670,16,Bladder,94.87
24,QS Diaphragm,870,23341,5,Diaphragm,91.35
25,QS Limb Muscle,1090,23341,6,Limb Muscle,89.47
26,QS Lung,1767,23341,11,Lung,89.08
27,QS Trachea,1350,23341,4,Trachea,85.48
28,Qx Bladder,2500,23341,4,Bladder,86.93
29,Qx Limb Muscle,3909,13341,6,Limb Muscle,83.57
30,Qx Spleen,9552,23341,5,Spleen,94.34
31,Muris Brain,13417,21609,2,Brain,91.83
32,Muris Kidney,1817,21609,9,Kidney,92.25
33,Muris Limb Muscle,3855,21609,6,Limb Muscle,91.38
34,Muris Liver,2859,21609,11,Liver,88.20
35,Muris Lung,5167,21609,25,Lung,89.90

In [5]:
human_num_cells = human['num_cells'].values
mouse_num_cells = mouse['num_cells'].values
human_num_genes = human['num_genes'].values
mouse_num_genes = mouse['num_genes'].values
human_num_clusters = human['num_clusters'].values
mouse_num_clusters = mouse['num_clusters'].values
human_sparsity = human['sparsity'].values
mouse_sparsity = mouse['sparsity'].values

In [ ]:
# colors = ['#5070dd', '#b6d634']
# plt.figure(figsize=(8, 8))
# bins = np.linspace(0, 25000, 6)
# width = 4000
# plt.hist([mouse_num_cells+500, human_num_cells+500], bins=bins+500, stacked=True, label=['Mouse', 'Human'], width=width, color=colors, orientation='vertical')
# plt.xticks([0, 5000, 10000, 15000, 20000, 25000], ['0', '5K', '10K', '15K', '20K', '25K'], fontsize=24)
# # plt.xlabel('Number of Cells', fontsize=14)
# plt.yticks([0, 2, 4, 6, 8], fontsize=24)
# # plt.legend(fontsize=24)
# plt.savefig('dataset_ws/num_cells_histogram.pdf', bbox_inches='tight')
# plt.close()
# plt.figure(figsize=(8, 8))
# bins = np.linspace(0, 70000, 8)
# width = 8000
# plt.hist([mouse_num_genes+1000, human_num_genes+1000], bins=bins+1000, stacked=True, label=['Mouse','Human'], width=width, color=colors, orientation='vertical')
# plt.xticks([0, 10000, 20000, 30000, 40000, 50000, 60000, 70000], ['0', '10K', '20K', '30K', '40K', '50K', '60K', '70K'], fontsize=24)
# # plt.xlabel('Number of Genes', fontsize=14)
# plt.yticks([0, 2, 4, 6], fontsize=24)
# # plt.legend(fontsize=24)
# plt.savefig('dataset_ws/num_genes_histogram.pdf', bbox_inches='tight')
# plt.close()
# plt.figure(figsize=(8, 8))
# bins = np.linspace(0, 30, 7)
# width = 4
# plt.hist([mouse_num_clusters+0.5, human_num_clusters+0.5], bins=bins+0.5, stacked=True, label=['Mouse', 'Human'], width=width, color=colors, orientation='vertical')
# plt.xticks([0, 5, 10, 15, 20, 25, 30], ['0', '5', '10', '15', '20', '25', '30'], fontsize=24)
# # plt.xlabel('Number of Clusters', fontsize=14)
# plt.yticks([0, 2, 4, 6], fontsize=24)
# # plt.ylim(0, 6)
# # plt.legend(fontsize=24)
# plt.savefig('dataset_ws/num_clusters_histogram.pdf', bbox_inches='tight')
# plt.close()
# plt.figure(figsize=(8, 8))
# bins = np.linspace(70, 100, 7)
# width = 4
# plt.hist([mouse_sparsity+0.5, human_sparsity+0.5], bins=bins+0.5, stacked=True, label=['Mouse', 'Human'], width=width, color=colors, orientation='vertical')
# plt.xticks([70, 75, 80, 85, 90, 95, 100], ['70', '75', '80', '85', '90', '95', '100'], fontsize=24)
# # plt.xlabel('Sparsity(%)', fontsize=14)
# plt.yticks([0, 2, 4, 6, 8, 10], fontsize=24)
# plt.ylim(0, 10)
# # plt.legend(fontsize=24, loc='upper left')
# plt.savefig('dataset_ws/sparsity_histogram.pdf', bbox_inches='tight')
# plt.close()

In [27]:
colors = ['#589EA6', '#F28F38']
plt.figure(figsize=(8, 6))
bins = np.linspace(0, 30000, 7)
width = 4000
plt.hist([mouse_num_cells+500, human_num_cells+500], bins=bins+500, stacked=True, label=['Mouse', 'Human'], width=width, color=colors)
plt.xticks([0, 5000, 10000, 15000, 20000, 25000, 30000], ['0', '5K', '10K', '15K', '20K', '25K', '30K'], fontsize=24)
# plt.xlabel('Number of Cells', fontsize=14)
plt.yticks([0, 5, 10, 15, 20, 25], fontsize=24)
plt.legend(fontsize=30)
plt.savefig('dataset/num_cells_histogram.pdf', bbox_inches='tight')
plt.close()
plt.figure(figsize=(8, 6))
bins = np.linspace(0, 70000, 8)
width = 8000
plt.hist([mouse_num_genes+1000, human_num_genes+1000], bins=bins+1000, stacked=True, label=['Mouse','Human'], width=width, color=colors)
plt.xticks([0, 10000, 20000, 30000, 40000, 50000, 60000, 70000], ['0', '10K', '20K', '30K', '40K', '50K', '60K', '70K'], fontsize=24)
# plt.xlabel('Number of Genes', fontsize=14)
plt.yticks([0, 5, 10, 15, 20], fontsize=24)
plt.legend(fontsize=30)
plt.savefig('dataset/num_genes_histogram.pdf', bbox_inches='tight')
plt.close()
plt.figure(figsize=(8, 6))
bins = np.linspace(0, 40, 9)
width = 4
plt.hist([mouse_num_clusters+0.5, human_num_clusters+0.5], bins=bins+0.5, stacked=True, label=['Mouse', 'Human'], width=width, color=colors)
plt.xticks([0, 5, 10, 15, 20, 25, 30, 35, 40], ['0', '5', '10', '15', '20', '25', '30', '35', '40'], fontsize=24)
# plt.xlabel('Number of Clusters', fontsize=14)
plt.yticks([0, 5, 10, 15], fontsize=24)
plt.ylim(0, 16)
plt.legend(fontsize=30)
plt.savefig('dataset/num_clusters_histogram.pdf', bbox_inches='tight')
plt.close()
plt.figure(figsize=(8, 6))
bins = np.linspace(65, 100, 8)
width = 4
plt.hist([mouse_sparsity+0.5, human_sparsity+0.5], bins=bins+0.5, stacked=True, label=['Mouse', 'Human'], width=width, color=colors)
plt.xticks([65, 70, 75, 80, 85, 90, 95, 100], ['65', '70', '75', '80', '85', '90', '95', '100'], fontsize=24)
# plt.xlabel('Sparsity(%)', fontsize=14)
plt.yticks([0, 5, 10, 15, 20, 25], fontsize=24)
plt.ylim(0, 26)
plt.legend(fontsize=30, loc='upper left')
plt.savefig('dataset/sparsity_histogram.pdf', bbox_inches='tight')
plt.close()